.counter-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    min-width: 400px;
    padding: 20px;
    background-color: rgb(184, 235, 235);
    border: 2px solid rgb(31, 31, 141);
    border-radius: 4px;
}

.button-wrapper {
    width: 100px;
}

.result-container {
    font-size: 24px;
    font-weight: bold;
    color: rgb(15, 15, 75);
}