.feedback-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 400px;
    padding: 20px;
    background-color: rgb(184, 235, 235);
    border: 2px solid rgb(31, 31, 141);
    border-radius: 4px;
}

.like-dislike-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    min-width: 400px;
    background-color: rgb(184, 235, 235);
}

.button-wrapper {
    width: 100px;
}

.reset-wrapper {
    width: 100%;
}

.likes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(15, 15, 75);
}

.icon {
    font-family: 'Material Icons';
    /* font-size: 24px; */
    /* color: #555; Цвет значка */
}